.mobile-news {
  margin-top: -67px;
  position: relative;

  .placeholder-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    padding: 20px;

    .date {
      font-family: HelveticaNeueCyr-Roman;
      font-size: 11px;
      line-height: 1.73;
    }

    .type {
      font-size: 11px;
      font-weight: 500;
      line-height: 1.45;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.8);
    }

    .title-text {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  .image-overlay {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url('./../../img/shadows/overlay.png');
  }
}