@import './../../styles/breakpoints';

.news-block {
  @media (min-width: $breakpoint-desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .news-more {
    line-height: 16px;
    font-size: 16px;
    text-align: center;

    .btn-link {
      font-size: 16px;
      color: #13a5f7;
    }
  }

  .title {
    letter-spacing: 7px;
    color: #2A2A2A;
  }

  .link {
    &:hover .preview-text {
      color: #13A5F7;
    }
  }

  .without-margins {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.news-block .editor-choise {
  background-color: #F8F8F8;
}

.news-block .editor-choise-title {
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2A2A2A;
}

.news-block {
  .partner-title {
    letter-spacing: 4px;
    color: #2a2a2a;
  }

  .more-dots {
    letter-spacing: 15px;
    text-decoration: none !important;
  }
}

.sticky-right-col {
  position: sticky;
  top: 115px;
}