@import './../../styles/breakpoints';

.news-block {
  @media (min-width: $breakpoint-desktop) {
    padding-left: 20px;
    padding-right: 20px;
  }

  .news-more {
    line-height: 16px;
    font-size: 16px;
    text-align: center;

    .btn-link {
      font-size: 16px;
      color: #13a5f7;
    }
  }
}

.news-block .title {
  letter-spacing: 7px;
  color: #2A2A2A;
}

.news-block .date {
  line-height: 19px;
  font-size: 11px;
  color: #B4B4B4;
} 

.news-block .type {
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 1px;
  color: #13A5F7;
}

.news-block .preview-text {
  line-height: 24px;
  font-size: 22px;
  color: #2A2A2A;
}

.news-block .article-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 18px;
  color: #2A2A2A;
}

.news-block .title-line {
  border-bottom: 1px solid #EFEFEF;
}

.news-block .link:hover .preview-text {
  color: #13A5F7;
}

.news-block .editor-choise {
  background-color: #F8F8F8;
}

.news-block .editor-choise-title {
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #2A2A2A;
}

.news-block .test-btn {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  background: #13A5F7;
  border-color: #13A5F7;
  border-radius: 3px;
}

.news-block {
  .news-inner {
    &-title {
      font-size: 27px;
    }

    &-text,
    .content-collapse-button {
      font-family: 'Georgia';
      color: #2a2a2a;
    }

    &-text {
      font-size: 18px;
    }

    .content-collapse-button {
      font-size: 16px;
      font-weight: bold;
      text-decoration: underline;
    }

    &-img-signature {
      font-family: 'HelveticaNeueCyr-Roman';
      color: #b4b4b4;
      line-height: 1.64;
    }
    
    &-caption {
      font-family: HelveticaNeueCyr-Roman;

      &-header {
        font-size: 11px;
        color: #b4b4b4;
      }

      &-text {
        font-size: 16px;
        color: #2a2a2a;
      }
    }

    .styled {
      color: #13a5f7;
      cursor: pointer;
    }
  }

  .news-comments {
    &-title {
      font-weight: 900;
      letter-spacing: 4px;
      color: #2a2a2a;
    }

    &-count {
      font-family: HelveticaNeueCyr-Roman;
      font-weight: normal;
      color: #b4b4b4;
    }

    &-avatar {
      &-fallback {
        background-color: #c4c4c4;
        width: 100%;
        height: 100%;
        display: block;
      }
      
      &-wrapper {
        width: 40px;
        height: 40px;
      }
    }

    &-author {
      font-weight: 500;
      font-style: normal;

      .time {
        font-family: HelveticaNeueCyr-Roman;
        font-style: normal;
        color: #b4b4b4;
      }
    }

    &-text {
      font-family: Georgia;
      font-size: 16px;
      font-style: italic;
      line-height: 1.52;
      color: #2a2a2a;
    }

    &-buttons {
      padding-left: 40px;

      .btn-link {
        font-family: HelveticaNeueCyr-Roman;
        font-size: 16px;
        color: #13a5f7;
        text-decoration: none !important;
      }
    }
  }

  .partner-title {
    letter-spacing: 4px;
    color: #2a2a2a;
  }

  .more-dots {
    letter-spacing: 15px;
    text-decoration: none !important;
  }
}

.sticky-right-col {
  position: sticky;
  top: 115px;
}