.simple-article {
  &-title {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #2a2a2a;
  }

  .news-date-type {
    flex: 1;
  }
}