.tags {
  padding: 30px 20px;

  &-letter {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    margin-right: 20px;
    color: #2a2a2a;
    cursor: pointer;

    &-disabled {
      color: #c4c4c4;
      cursor: default;
    }

    &-name {
      font-size: 22px;
      font-weight: 900;
      color: #2a2a2a;
    }

    &-value {
      font-family: HelveticaNeueCyr-Roman;
      font-size: 14px;
      color: #13a5f7;
    }
  }
}