@import "../../styles/breakpoints";

.commercial {
  padding: 25px 20px;

  &-header {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 7px;
    color: #2a2a2a;
    text-transform: uppercase;
  }

  &-content {
    font-family: Georgia;
    font-size: 14px;
    color: #2a2a2a;

    @media (min-width: $breakpoint-tablet-sm) {
      font-size: 18px;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 900;
    color: #2a2a2a;

    @media (min-width: $breakpoint-tablet-sm) {
      font-size: 22px;
    }
  }

  &-text {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    color: #2a2a2a;
  }

  &-text-normal {
    font-size: 16px;
    color: #2a2a2a;
  }

  &-link {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    color: #13a5f7;
  }
}