@import './../../styles/breakpoints';

.profile-comments {
  padding: 33px 20px;

  &-header {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 7px;
    color: #2a2a2a;
    text-transform: uppercase;
  }

  &-title {
    font-size: 18px;
    font-weight: 900;
    color: #2a2a2a;
    line-height: 1.41;

    &:hover {
      color: #36b3f8;
    }
  }

  &-btn {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    color: #13a5f7;

    &-wrapper {
      @media (min-width: $breakpoint-tablet-sm) {
        padding-left: 52px;
      }
    }
  }
}