@import '../../../styles/breakpoints';

.author-cologne {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  color: #2a2a2a;
  position: relative;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  &-data {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }

  &-name {
    color: #ffffff;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  &-bg {
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url('./../../../img/logobg.png');
  }

  &-container {
    box-shadow: 0 -70px 30px 0 #2a2a2a;
    height: 126px;
    background-color: #2a2a2a;
  }

  &-img {
    object-fit: cover;

    @media (min-width: $breakpoint-tablet) {
      height: 380px;
    }

    @media (min-width: $breakpoint-desktop) {
      height: 345px;
    }

    @media (min-width: $breakpoint-large) {
      height: 470px;
    }
  }

  &-wrapper {}

  &-date {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 11px;
    line-height: 1.73;
    color: #ffffff;
    text-transform: uppercase;
  }

  &-author {
    font-size: 22px;
    font-weight: 900;
  }

  &-author-title {
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    color: #ffffff;
  }

  &-badge {
    position: absolute;
    right: 0;
    top: 15px;
  }

  &-title {
    font-size: 22px;
    font-weight: 900;
    line-height: 1.09;
    color: #ffffff;
  }


  &-mobile {
    min-height: 345px;
    max-height: 400px;
    margin-left: -15px;
    margin-right: -15px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    color: #ffffff;

    &:hover {
      color: #ffffff;
    }

    &-data {
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
    }

    &-date,
    &-type {
      font-family: HelveticaNeueCyr-Roman;
      font-size: 10px;
      line-height: 1.9;
      text-transform: uppercase;
    }

    &-author {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &-title {
      font-size: 22px;
      font-weight: 900;
      line-height: 1.09;
    }

    .article-badge {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}