@import './../../styles/shared';
@import './../../styles/breakpoints';

.news-feed {
  &.collapsed {
    width: 240px;
  }

  &.expanded {
    width: 54px;
    height: 100%;
    background-color: #F9F9F9;

    .news-feed-title {
      white-space: nowrap;
      margin-top: 180px;
      transform: rotate(-90deg);
    }
  }

  &-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &-title {
    line-height: 14px;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2A2A2A;
  }

  &-list {
    border-right: 1px solid #efefef;
  }

  &-add {
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    z-index: 3;
    font-size: 20px;
    color: #36b3f8;
    right: 15px;
    top: 82px;

    &:hover {
      cursor: pointer;
    }
  }

  &-item {
    border-bottom: 1px solid #EFEFEF;
    color: #2A2A2A;

    &:hover {
      color: #13A5F7;
      cursor: pointer;
    }

    .date {
      line-height: 12px;
      font-size: 12px;
      text-transform: uppercase;
      color: #13A5F7;
    }

    .title {
      font-family: Georgia;
      font-size: 14px;
    }
  }

  &-banner {
    margin-top: -15px;
  }
}
