// @import './../../styles/shared';
.news-feed { }

.news-feed.collapsed {
  width: 240px;
}

.news-feed.expanded {
  width: 54px;
}

.news-feed.expanded .news-feed-title {
  white-space: nowrap;
  margin-top: 180px;
}

// $test: #fff;

.news-feed-activator {
  cursor: pointer;
}

/* @media (min-width: 1440px) {
  .news-feed {
    width: 240px;
  }
} */

.news-feed.collapsed .news-feed-list {
  border: 1px solid black;
}

.news-feed-title {
  font-family: HelveticaNeueCyr;
  line-height: 14px;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bold;
  color: #2A2A2A;
}

.news-feed.expanded .news-feed-title {
  transform: rotate(-90deg);
}

.news-feed-item {
  border-bottom: 1px solid #000000;
  color: #2A2A2A;
}

.news-feed-item:hover {
  color: #13A5F7;
  cursor: pointer;
}

.news-feed-item .date {
  font-family: HelveticaNeueCyr;
  line-height: 12px;
  font-size: 12px;
  text-transform: uppercase;
  color: #13A5F7;
}

.news-feed-item .title {
  font-family: Georgia;
  font-size: 14px;
}