@import 'colors';
@import 'breakpoints';

.text-blue {
  color: #13A5F7;
}

.size-14 {
  font-size: 14px;
}

.pointer {
  cursor: pointer;
}

.mr-15 {
  margin-right: 15px;
}

.min-h-100 {
  min-height: 100%;
}

.max-w-100 {
  max-width: 100%;
}


// TEXT CLASSED
.font-weight-900 {
  font-weight: 900;
}

.font-weight-500 {
  font-weight: 500;
}

.subtitle {
  font-size: 24px;
}

@media (min-width: $breakpoint-tablet-sm) {
  .subtitle {
    font-size: 20px;
  }
}



blockquote {
  display: block;
    font-style: italic;
    margin-bottom: 20px;
    position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    padding: 12px 23px 12px 54px;
    text-align: justify;
    background: #ededed;
    font-weight: 300;
    font-style: italic;

}
blockquote:before {
  position: absolute;
    width: 50px;
    height: 0px;
    text-align: center;
    font-size: 78px;
    font-style: normal;
    font-weight: bold;
    color: #b7b7b7;
}
blockquote:before {
    content: "\201C";
    left: 2px;
    top: -9px;
}

blockquote b,
blockquote cite {
  display: block;
  text-align: right;
  font-style: normal;
  margin-top: 10px;
  font-size: 15px;
  color: #4d4d4d;
  font-weight: bold;
}