@import '../../../styles/breakpoints';

.news-item {

  &:not(.no-link) {
    cursor: pointer;
    text-decoration: none !important;

    &:hover {
      .preview-text {
        color: #13A5F7 !important;
      }
  
      img {
        opacity: .9;
      }
    }
  }

  &-header {
    font-size: 27px;
    color: #2a2a2a;
    line-height: 1.19;
  }

  &-image {
    overflow: hidden;

    @media (min-width: $breakpoint-tablet-sm) {
      width: 218px;
      height: 123px;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 300px;
      height: 170px;
    }

    @media (min-width: $breakpoint-large) {
      width: 373px;
      height: 211px;;
    }
  }

  &-line-wrapper {
    width: 49%;
    
    &.mr-2-percent {
      margin-right: 2%;
    }

    @media (min-width: $breakpoint-tablet-sm) {
      width: 218px;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 300px;
    }

    @media (min-width: $breakpoint-large) {
      width: 373px;
    }
  }

  &-line-wrapper-large {
    @media (min-width: $breakpoint-tablet-sm) {
      width: 451px;
    }

    @media (min-width: $breakpoint-tablet) {
      width: 615px;
    }

    @media (min-width: $breakpoint-large) {
      width: 761px;
    }
  }

  .partner-preview-text {
    font-size: 18px;
    line-height: 1.41;
    color: #2a2a2a;
  }

  .partner-name {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 11px;
    color: #b4b4b4;
  }
}

.news-block .news-item-large .preview-text {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
  color: #2A2A2A;

  @media (min-width: $breakpoint-tablet) {
    font-size: 18px;
  }
}