@import './../../styles/breakpoints';

.profile-add-article {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
  background-color: white;
  z-index: 11;
  overflow-y: auto;

  @media (min-width: $breakpoint-tablet-sm) {
    position: absolute;
    padding-top: 0;
  }

  &-header {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 7px;
    color: #2a2a2a;
    text-transform: uppercase;

    @media (min-width: $breakpoint-tablet-sm) {
      font-size: 27px;
      letter-spacing: normal;
      color: #2a2a2a;
      text-transform: initial;

      &-wrapper {
        height: 102px;
        border-bottom: 1px solid #efefef;
      }
    }
  }

  &-label {
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    line-height: 2;
    color: #2a2a2a;
  }

  &-text-area {
    padding: 15px 13px 17px 13px;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    line-height: 1.14;
    font-weight: normal;
    color: #2a2a2a;
  }

  &-btn {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;

    &-bottom {
      width: 100%;

      @media (min-width: $breakpoint-tablet-sm) {
        width: auto;
      }
    }

    &.btn-primary {
      background-color: #13a5f7;
      border: 0;
      color: #ffffff;
    }

    &.btn-link {
      color: #13a5f7;
    }
  }

  &-main-photo {
    max-height: 120px;
    max-width: 196px;
  }

  .close-icon {
    width: 20px;
    height: 20px;

    path {
      stroke: #2a2a2a;
    }
  }
}