@import "../styles/breakpoints";
.snow {
  .main {
    position: relative;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;

    @media (min-width: $breakpoint-tablet) {
      width: 970px;
    }

    @media (min-width: $breakpoint-large) {
      width: 1190px;
    }
  }

  .menu-opened {
    .snow-col-main-content,
    .footer {
      display: none;
    }
  }

  .popup-opened {
    .main {
      display: none;
    }
  }
}
