@import './../../styles/shared';

.snow-logo {
  height: 102px;
  width: 240px;
  line-height: 20px;
  font-size: 35px;
  background-image: url('./../../img/logobg.png');
  text-decoration: none !important;

  &-short {
    width: 54px;
  }
}