@import './../../styles/breakpoints';
@import './../../styles/shared';

.header {
  z-index: 1;
  position: sticky;
  top: 0;

  &-mobile {
    z-index: 10;
    position: fixed;
    width: 100%;

    &.sticky {
      background-color: #2A2A2A;
    }

    .menu-opened & {
      background-color: #2A2A2A; 
    }

    &-inner {
      background-color: #2A2A2A;

      .snow-logo {
        font-size: 24px;
      }

      // &-default {
      //   .sticky & {
      //     display: none;
      //   }
      // }

      &-social-icons {
        display: none;
        height: 51px;
        box-shadow: 0 7px 28px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;

        .social-icons-item {
          color: #3c3c3c;
        }

        // .sticky & {
        //   display: block;
        // }
      }
    }
  }
}

.header-main {
  background-color: #2A2A2A;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B4B4B4;
}

.header-hamburger,
.header-search,
.header-back,
.header-share {
  font-size: 18px;
  height: 51px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffffff;

  @media (min-width: $breakpoint-tablet) {
    border-left: 1px solid #464646;
  }
}

.header-hamburger:hover svg path,
.header-search:hover svg path,
.header-back:hover svg path,
.header-share:hover svg path {
  stroke: #4dabf7;
}

.header-main .caret-green {
  color: #0B9000;
}

.header-main .caret-red {
  color: #FF0000;
}