@import './../../styles/breakpoints';

.gallery {
  &-widget {
    position: relative;
    cursor: pointer;

    &-image {
      &-large {
        width: 100%;
      }

      &-small {
        width: 100%;

        &-wrapper {
          background-color: #2a2a2a;
          padding: 10px;
        }

        &-col {
          // padding: 10px 0;
          padding-right: 10px;

          &:last-child {
            padding-right: 0;
          }

          // &-left {
          //   padding-left: 10px;
          //   padding-right: 5px;
          // }

          // &-right {
          //   padding-right: 10px;
          //   padding-left: 5px;
          // }
        }
      }
    }

    &-blackout {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(19, 165, 247, 0.5);
      color: #ffffff;

      &-more {
        font-family: HelveticaNeueCyr-Roman;
        font-size: 14px;
      }
    }

    .fullscreen-icon {
      position: absolute;
      bottom: 12px;
      right: 27px;
    }
  }

  &-popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(42, 42, 42, 0.95);
    z-index: 10;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-tablet-sm) {
      padding: 20px 75px;
    }

    &-carousel {
      overflow-y: auto !important;
      flex: 1;
    }

    &-navigation {
      position: absolute;
      height: 100%;
      width: 95px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
      }
    }

    &-author {
      font-family: HelveticaNeueCyr-Roman;
      font-size: 14px;
      line-height: 1.64;
      color: #b4b4b4;
    }

    &-header {
      height: 51px;
    }

    &-content {
      color: #ffffff;
      // height: calc(100% - 51px);
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      @media (min-width: $breakpoint-tablet-sm) {
        display: flex;
        flex-direction: column;
      }
    }

    &-caption {
      padding: 0 20px;
    }

    &-partners {
      padding: 20px;

      @media (min-width: $breakpoint-tablet-sm) {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
      }

      &-title {
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: #ffffff;

        @media (min-width: $breakpoint-tablet-sm) {
          font-size: 27px;
          line-height: 1.19;
          letter-spacing: normal;
          text-transform: initial;
        }
      }

      &-prefix {
        font-family: HelveticaNeueCyr-Roman;
        font-size: 11px;
        line-height: 1.73;
        color: #b4b4b4;
        text-transform: uppercase;

        @media (min-width: $breakpoint-tablet-sm) {
          font-size: 14px;
          line-height: 1.36;

        }
      }

      .simple-article-title {
        color: #ffffff;

        @media (min-width: $breakpoint-tablet-sm) {
          font-size: 22px;
        }
      }

      hr {
        border-color: #ffffff;
      }
    }

    &-title {
      font-family: HelveticaNeueCyr;
      font-size: 18px;
      font-weight: 900;
      line-height: 1.52;
      padding: 10px 20px;
      color: #ffffff;

      @media (min-width: $breakpoint-tablet-sm) {
        font-size: 27px;
        line-height: 1.19;
      }
    }

    &-image {
      width: 100%;
      text-align: center;

      @media (min-width: $breakpoint-tablet-sm) {
        padding: 0 20px;
      }

      @media (min-width: $breakpoint-desktop) {
        display: flex;
        justify-content: center;
      }
    }

    &-text {
      padding: 20px;
      font-family: Georgia;
      font-size: 14px;
      line-height: 1.52;

      @media (min-width: $breakpoint-tablet-sm) {
        font-size: 18px;
        line-height: 1.64;
      }
    }

    .close-icon {
      cursor: pointer;
    }

    .social-icons {
      font-size: 18px;
    }

    .share-popup {
      z-index: 1;
    }
  }
}