@import '../../../styles/breakpoints';

.news-item-main {
  &:not(.no-link) {
    cursor: pointer;
    text-decoration: none !important;

    &:hover {
      .preview-text {
        color: #13A5F7 !important;
      }

      img {
        opacity: .9;
      }
    }
  }


  .placeholder {
    font-size: 24px;
    left: 20px;
    bottom: 20px;
    line-height: 32px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 27px;
    }
  }
}