.more {
  line-height: 16px;
  font-size: 16px;
  text-align: center;

  .btn-link {
    font-size: 16px;
    color: #13a5f7;
  }

  .more-dots {
    letter-spacing: 15px;
    text-decoration: none !important;
  }
}