.more {
  line-height: 16px;
  font-size: 16px;
  text-align: center;

  .btn-link {
    font-size: 16px;
    color: #13a5f7;
    border: 0;

    &:active {
      background-color: transparent !important;
      color: #13a5f7 !important;
    }
  }

  .more-dots {
    letter-spacing: 15px;
    text-decoration: none !important;
  }
}