.footer {
  font-family: HelveticaNeueCyr-Roman;

  &-large-block {
    width: 160px;
  }

  &-small-block {
    width: 130px;
    margin-left: 30px;
  }
  
  &-medium-block {
    width: 130px;
  }
}

.footer-subscribe {
  background-color: #333333;
}

.footer-subscribe-title {
  line-height: 32px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
}

.footer-subscribe-block {
  max-width: 468px;
  width: 80%;
  height: 48px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.footer-subscribe-block input {
  height: 100%;
  line-height: 16px;
  font-size: 14px;
  color: #B4B4B4;
  width: calc(100% - 74px);
  border-radius: 3px;
  border: 0;
}

.footer-subscribe-block span {
  color: white;
  cursor: pointer;
  background-color: #13A5F7;
  width: 74px;
  height: 48px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
}

.footer-info {
  background-color: #2A2A2A;
}

.footer-info-text {  
  font-size: 12px;
  color: #8F8F8F;
}

.footer-logo {
  font-family: HelveticaNeueCyr-Heavy;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}

.foonter-links-title {
  line-height: 15px;
  font-size: 11px;
  text-transform: uppercase;

  color: #8C8C8C;
}
