.content-collapse {
  .collapse {
    display: block;
    position: relative;
    overflow: hidden;
  }

  &.isEclipseFade {
    .collapse:not(.show),
    .collapsing {
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 20px;
        // background: linear-gradient(to bottom, transparentize($white, 1) 0, $white 100%);
      }
    }
  }

  .content-collapse-button {

    &:focus,
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }
}
