@import './styles/breakpoints';

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

body {
  font-family: HelveticaNeueCyr;
}

#root,
  #root > div,
  .snow,
  .snow-col {
    height: 100%;
  }

@media (max-width: $breakpoint-tablet) {
  .container {
    max-width: 100%;
  }
}

// @media (min-width: $breakpoint-tablet-sm) {
//   html, body {
//     height: 100%;
//     overflow: hidden;
//   }

//   #root,
//   #root > div,
//   .snow,
//   .snow-col {
//     height: 100%;
//   }
// }

.snow-col-feed, .snow-col-main {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .search-opened & {
    overflow: hidden;
  }
}

.snow-col-feed {
  position: relative;
  background-color: #F9F9F9;
  z-index: 1;
  display: none;

  @media (min-width: $breakpoint-tablet-sm) {
    display: block;
  }

  &::-webkit-scrollbar { 
    display: none; 
  }
}

.snow-col-main {
  height: 100%;
  background-color: #efefef;

  @media (min-width: $breakpoint-tablet-sm) {
    width: calc(100% - 54px);  
  }

  @media (min-width: $breakpoint-desktop) {
    width: calc(100% - 240px);
  }

  .feed-opened & {
    overflow-y: hidden;
    position: fixed;

    .blackout {
      display: block;
    }

    @media (min-width: $breakpoint-tablet-sm) {
      margin-left: 54px;
    }

    @media (min-width: $breakpoint-desktop) {
      margin-left: 240px;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      .blackout {
        display: none;
      }
    }
  }

  .blackout {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 999999px;
    background-color: #333333;
    opacity: .6;
  }
}

/* .snow-col-main > div {
  height: 4000px;
} */


/* SHARED */
.text-blue {
  color: #13A5F7;
}

.size-14 {
  font-size: 14px;
}

@media (min-width: $breakpoint-large) {
  .container {
    max-width: 1190px;
  }
}