@import './styles/breakpoints';

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

// TODO REMOVE THIS CODE!!!!!!!
// html {
//   min-width: 1024px;
// }
// @media (max-width: $breakpoint-tablet) {
//   .container {
//     max-width: 960px;
//   }
// }
// TODO REMOVE THIS CODE!!!!!!!

body {
  font-family: HelveticaNeueCyr;
}

#root, #root > div, .snow, .snow-col {
  height: 100%;
}



.snow-col-feed, .snow-col-main {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .search-opened & {
    overflow: hidden;
  }
}

.snow-col-feed {
  position: relative;
  background-color: #F9F9F9;
  z-index: 1;
  display: none;

  @media (min-width: $breakpoint-tablet) {
    display: block;
  }

  &::-webkit-scrollbar { 
    display: none; 
  }
}

.snow-col-main {
  position: fixed;
  background-color: #efefef;
  @media (min-width: $breakpoint-tablet) {
    margin-left: 54px;
    width: calc(100% - 54px);  
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 240px;
    width: calc(100% - 240px);
  }

  .feed-opened & {
    overflow-y: hidden;

    .blackout {
      display: block;
    }

    @media (min-width: $breakpoint-desktop) {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      .blackout {
        display: none;
      }
    }
  }

  .blackout {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 999999px;
    background-color: #333333;
    opacity: .6;
  }
}

/* .snow-col-main > div {
  height: 4000px;
} */


/* SHARED */
.text-blue {
  color: #13A5F7;
}

.size-14 {
  font-size: 14px;
}


@media (min-width: $breakpoint-large) {
  .container {
    max-width: 1190px;
  }
}